<?php
  define('PATH_DATA',         '/opt/processmaker/shared/');
  define('PATH_C',            '/opt/processmaker/shared/compiled/');
  // define('HASH_INSTALLATION', 'pdTEwp7Mn6yoyMfEl5eTmm2Um8TImMjGcpJplZaZlZpyxpWVZZhgbm3V1dLZmMTCa5VlmpfIy8ielJeVbGVllpzKxsZrxWRtZ5eWmJ5klZRu');
  // define('SYSTEM_HASH',       'eaa2d094cfce3ca915aceee9a4434059');
